.icon{
    width: 40px;
}

.icon2{
    width: 30px;
}

.icon3{
    width: 20px;
}

div.repo p, h3{
    display: inline;
}

div.container{
    box-sizing: border-box;
    min-width: 95%;
}